DB_PORT=
DB_HOST=
DB_DATABASE=
DB_PASSWORD=
DB_USER=
JWT_SECRET_KEY=
PORT=3000

MAIL_HOST
MAIL_PORT
MAIL_USER
MAIL_PASS

SITE=

CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=


DATABASE_URL="file:./dev.db"
