services:
    app:
        build:
            context: .
            target: production
        container_name: backend
        image: store-system-backend:1.0.0
        deploy:
            resources:
                limits:
                    cpus: '0.5'
                    memory: 1G
        env_file:
            - .env
        ports:
            - "3000:3000"
        volumes:
            - ./data:/app/data
        environment:
            - NODE_ENV=production
            - DATABASE_URL=file:/app/data/prod.db
        restart: unless-stopped
        user: node
        command: sh -c "pnpm run db:migrate && pnpm run start"
